@model Drink

<div class="tab-content">
    <div class="card-body text-center">
        <div class="col-md-12 caption-row p-1 m-1">
            <div class="nav navbar-nav ">
                <div class="img-thumbnail ">
                    <img src="@Model.ImageThumbnailUrl" alt="" width="260" height="140" />
                    <div class="figure-caption">
                        <h3 class="text-right">@Model.Price.ToString("c")</h3>
                        <h3>
                            <a asp-controller="Drink" asp-action="Details" asp-route-drinkId="@Model.DrinkId"> @Model.Name</a>
                        </h3>
                        <p>@Model.ShortDescription</p>
                    </div>
                    <div class="addToCart text-right">
                        <p class="button ">
                            <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.DrinkId">
                                Add to cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>